#container {
    width: 600px;
    height: 400px;
    position: relative;
    background: black;
  }
#dvdAnimation {
    width: 50px;
    height: 26px;
    position: absolute;
  }

#dvdlogo {
    fill: red;
}